<section ng-controller="AssignmentsController">
  <div class="page-header">
    <h1>Assignments</h1>
    <select class="input-medium" type="text" ng-model="assignments.meet" ng-options="m.date | date:'mediumDate' for m in meets"></select>
    <h2 ng-show="assignments.meet">{{assignments.meet.home}} vs {{assignments.meet.away}}</h2>
  </div>
  <div id="list" ng-show="assignments.meet">
    <ul class="unstyled">
      <li ng-repeat="event in assignments.events | orderBy:sort">#{{event.number}} - {{event.length}} {{event.stroke}} {{event.type}} {{event.age}}{{event.gender}}
        <ul class="inline">
          <li>
            <select class="input-medium" type="text" ng-model="event.athlete0" ng-options="a.name.first for a in roster"></select>
          </li>
          <li ng-show="event.type=='Relay'">
            <select class="input-medium" type="text" ng-model="event.athlete1" ng-options="a.name.full for a in roster"></select>
          </li>
          <li ng-show="event.type=='Relay'">
            <select class="input-medium" type="text" ng-model="event.athlete2" ng-options="a.name.full for a in roster"></select>
          </li>
          <li ng-show="event.type=='Relay'">
            <select class="input-medium" type="text" ng-model="event.athlete3" ng-options="a.name.full for a in roster"></select>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
