<section data-ng-controller="TeamsController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>

			<div class="controls">
				<input type="text" data-ng-model="team.name" id="name" placeholder="Name">
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mascot">Mascot</label>

			<div class="controls">
				<input type="text" data-ng-model="team.mascot" id="mascot" placeholder="Mascot">
				</input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>