<section ng-controller="TeamsController" ng-init="findOne()">

  <h2 ng-show="team.name">{{team.name}} {{team.mascot}} - {{team.division}}</h2>

  <form class="form-horizontal" ng-submit="update()">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" ng-model="team.name" id="name" placeholder="Name" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mascot">Mascot</label>
      <div class="controls">
        <input type="text" ng-model="team.mascot" id="mascot" placeholder="Mascot" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="division">Division</label>
      <div class="controls">
        <select  class="input-small" type="text" ng-model="team.division" id="division">
          <option>Gold</option>
          <option>Silver</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger" href="#!/admin/teams">Cancel</a>
        <input type="submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</section>