<section data-ng-controller="MeetsController" data-ng-init="findOne()">

  <h2>{{meet.home}} vs {{meet.away}} - {{meet.date | date:'medium'}}</h2>

  <form class="form-horizontal" data-ng-submit="update()">
    <div class="control-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls">
        <input class="input-medium" type="date" ng-model="meet.date">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="home">Home</label>
      <div class="controls">
        <select class="input-medium" type="text" ng-model="meet.home">
          <option ng-repeat="team in teams">{{team.name}}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="away">Away</label>
      <div class="controls">
        <select class="input-medium" type="text" ng-model="meet.away">
          <option ng-repeat="team in teams">{{team.name}}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn">
      </div>
    </div>
  </form>
</section>