<section ng-controller="MeetsController" ng-init="findOne()">
  <h2 ng-show="meet.home">{{meet.home}} vs {{meet.away}} - {{meet.date | date:'mediumDate'}}</h2>
  <form class="form-horizontal" ng-submit="update()">
    <div class="control-group">
      <label class="control-label" for="home">Home</label>
      <div class="controls">
        <select class="input-medium" type="text" ng-model="meet.home">
          <option ng-repeat="team in teams">{{team.name}}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="away">Away</label>
      <div class="controls">
        <select class="input-medium" type="text" ng-model="meet.away">
          <option ng-repeat="team in teams">{{team.name}}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls form-horizontal">
        <input type="text" datepicker-popup="MMM dd yyyy" ng-model="meet.date" is-open="opened" />
        <button type="button" class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger" href="#!/admin/meets">Cancel</a>
        <input type="submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</section>