<section data-ng-controller="RosterController" data-ng-init="findOne()">
  <h2 ng-show="roster.firstName">{{roster.firstName}} {{roster.lastName}} - {{roster.age}} {{roster.gender}}</h2>
  <form class="form-horizontal" data-ng-submit="update()">
    <div class="control-group">
      <label class="control-label" for="firstName">First Name</label>
      <div class="controls">
        <input class="input-medium" type="text" ng-model="roster.firstName" placeholder="First Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="firstName">Last Name</label>
      <div class="controls">
        <input class="input-medium" type="text" ng-model="roster.lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">Age</label>
      <div class="controls">
        <input class="input-small" type="number" min="4" max="17" ng-model="roster.age">
    </div>
    <div class="control-group">
      <label class="control-label" for="gender">Gender</label>
      <div class="controls">
        <select class="input-mini" type="text" ng-model="roster.gender">
          <option>M</option>
          <option>F</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger" href="#!/admin/roster">Cancel</a>
        <input type="submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</section>